* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 20px;
  margin-left: 24px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 24px;
}

#scarecrow {
  width: 284px;
  margin: 64px auto;
}

#scarecrow img {
  width: 100%;
}

#content {
  padding-left: 24px;
  margin-top: 60px;
}

h1 {
  font-size: 48px;
  font-family: 'Space mono', monospace;
  color: #333;
  letter-spacing: -0.035em;
}

#message {
  margin-top: 30px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
}

button {
  width: 216px;
  height: 68px;
  background-color: #333;
  border: none;
  margin-top: 66px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s all;
}

button:hover {
  filter: brightness(.9);
}

footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  margin-top: 114px;
  margin-bottom: 24px;

  color: #BDBDBD;
}

footer a {
  color: #BDBDBD;
  font-weight: bold;
  transition: .2s all;
}

footer a:hover {
  filter: brightness(.9);
}

@media screen and (min-width: 1120px) {
  header {
    margin-top: 40px;
    margin-left: 77px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  #scarecrow {
    width: 539.22px;
  }

  #container {
    margin-top: 200px;
    margin-left: 77px;
    display: flex;
  }

  #content {
    padding-left: 119px;
    padding-right: 119px;
  }

  h1 {
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
  }

  #message {
    width: 380px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
  }
}